<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">REPORTES</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <app-lista-guias></app-lista-guias>
            </div>
            <div class="col-5">
              <!--  <h1>Pure Css responsive <span>timeline</span></h1> -->

              <div class="container">

                <div class="timeline-block timeline-block-right">
                  <div class="marker active"><i class="fa fa-check active" aria-hidden="true"></i></div>
                  <div class="timeline-content animate__animated animate__fadeInDown">
                    <h3>Facturación</h3>
                    <span>Fecha y Hora de Registro</span>
                    <div class="timestamp">22/05/2021 04:15:25 pm</div>
                  </div>
                </div>

                <div class="timeline-block timeline-block-right">
                  <div class="marker active"><i class="fa fa-check active" aria-hidden="true"></i></div>
                  <div class="timeline-content animate__animated animate__fadeInDown">
                    <h3>Embalaje</h3>
                    <span>Fecha y Hora de Registro</span>
                    <div class="timestamp">22/05/2021 04:15:25 pm</div>
                  </div>
                </div>

                <div class="timeline-block timeline-block-right">
                  <div class="marker"><i class="fa fa-check" aria-hidden="true"></i></div>
                  <div class="timeline-content animate__animated animate__fadeInDown">
                    <h3>Seguridad Interna</h3>
                    <span>Fecha y Hora de Registro</span>
                    <div class="timestamp">22/05/2021 04:15:25 pm</div>
                  </div>
                </div>

                <div class="timeline-block timeline-block-right">
                  <div class="marker"><i class="fa fa-check" aria-hidden="true"></i></div>
                  <div class="timeline-content animate__animated animate__fadeInDown">
                     <h3>Entrega</h3>
                     <span>Fecha y Hora de Registro</span>
                     <div class="timestamp">22/05/2021 04:15:25 pm</div>
                  </div>
               </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>